name: Installing Python

on:
  push:
    branches: main
  workflow_dispatch:

  

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-14, windows-latest ]
        py: [ 3.10, 3.11, 3.12 ]
    runs-on: ${{ matrix.os}}
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.py}}
        cache: 'pip'
        
